$background: #ffffff;
// $cardLight: #d6e6f2;
$cardDark: #b9d7ea;
$darkest: #769fcd;
$border: #a5bdcc;
$button: #6fa7e7;
$buttonHover: #5e8ec5;

$cardLight: $background;

$darkestRGB: rgb(118, 159, 205);
