@import "../commons/colors.scss";

body {
  background-color: $background;
}

.workouts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.workouts-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.workout-card {
  background-color: $cardDark;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: inherit;
  margin-bottom: 20px;
  transition: transform 0.5s, box-shadow 0.3s;
}

.workout-card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: $border 2px solid;
}

.workout-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
}

.card-exercises {
  margin-top: 10px;
}

.workout-card button {
  background-color: $button;
  color: white;
  color: while;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  font-size: 14px;
  height: 30px;
}

.workout-card button:hover {
  background-color: $buttonHover;
}
