@import "../commons/colors.scss";

.workout-page {
  width: 60%;
  margin: auto;
  padding: 20px;
}

.headings-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: 36px;
}

.headings-container button {
  background-color: $button;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
}

.headings-container button:hover {
  background-color: $buttonHover;
}
