@import "../commons/colors.scss";

.headings-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exercise-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.exercise-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px 0;
}

.exercise-container-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exercise-delete-button {
  margin-left: 50px;
  background-color: $button;
}

.exercise-delete-button:hover {
  background-color: $buttonHover;
}
