.navbar {
  background-color: #ece8ff;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  height: 50px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.icon {
  padding: 10px;
  font-size: 24px;
  color: #6439ff;

  &:hover {
    color: #a991ff;
  }
}
