.chart-container {
  /* padding: 20px; */
  /* margin: 20px; */
  position: relative;
}

.chart-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.chart-canvas {
  padding: 10px;
  height: 400px;
  background-color: rgb(255, 244, 226);
  border: 3px solid rgb(238, 220, 192);
}
