.chart-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(150, 150, 150);
}
