.chart-container {
  padding: 20px;
  margin: 20px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: blanchedalmond;
}

.chart-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.chart-canvas {
  padding: 10px;
  height: 400px;
  background-color: rgb(255, 244, 226);
  border: 3px solid rgb(238, 220, 192);
}
