@import "../../../pages/commons/colors.scss";

.big-card-container {
  min-width: 300px;
  min-height: 100px;
  padding: 20px;
  margin: 20px 5px;
  border-radius: 10px;
  background-color: $cardDark;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.title-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 2px solid $border;
}

.title-buttons {
  display: flex;
  justify-content: space-between;
}

.title-buttons button {
  height: 30px;
  margin-left: 5px;
  background-color: $background;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.title-buttons button:hover {
  background-color: $cardLight;
}

.sub-section {
  margin: 5px;
}

.subtitle {
  margin-bottom: 10px;
}

.entry-list {
  list-style: none;
}

.entry-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.entry-item-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin-right: 40px;
  padding: 0 10px;
  border-bottom: 1px solid $border;
}

.entry-item-container button {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 7px 15px;
  background-color: $background;
}

.entry-item-container button:hover {
  background-color: $cardLight;
}
